[2012-10-28 11:46] tcalmant opened #1 "Enhance bundle concept"
Pelix should override the **import** method when installing a bundle, in order to avoid duplicated imports and to have a better control on the Python path.

The code could be inspired of the "exocet" project (https://launchpad.net/exocet/).

[2012-10-28 11:53] tcalmant opened #2 "Update the web site"
- Update the tutorials, according to the new API and capacities
- Add a page about Pelix and iPOPO internals (for developers)

[2012-10-28 11:55] tcalmant opened #3 "Provide more tests"
Increase the number and the quality of unit tests.
Mainly on Pelix service handling and on dependency injection.

[2012-11-26 11:34] #2 closed, assigned to tcalmant

[2012-11-26 11:34] #3 closed, assigned to tcalmant

[2013-01-03 15:31] tcalmant opened #4 "Handle ServiceFactory-like capacities"
When calling _BundleContext.getService(ref)_, where _ref_ is a ServiceReference to a service factory, then the framework should return the result of the get_service() method of this factory.
(See the OSGi specification for more information on this concept : http://www.osgi.org/javadoc/r4v43/core/org/osgi/framework/ServiceFactory.html).

In Pelix, this could be implemented  by using a _pelix.servic

[2013-01-03 15:46] tcalmant opened #5 "Implement basic RemoteServices"
Implement a basic support for XML-RPC (using xmlrpclib) and JSON-RPC (using jsonrpclib or a fork) for exported services, i.e. with the _service.exported_ property.

The implementations might be provided as servlets for the HTTP service.

[2013-02-20 19:14] #5 closed, assigned to tcalmant

[2013-07-16 07:44] tcalmant opened #6 "HTTP Servlet binding acceptance should be tested before the availability of the path"
When two servlets services are to be bound on a same path but on two different HTTP services, the bound_to() method is not sufficient to have a clean behaviour: an exception will be raised when the second servlet path will be tested.

The solution could be:
1/ let the servlet register itself in the bound_to() method, if it accepts the server description
2/ let the servlet implement a new method (e

[2013-07-16 14:01] #6 closed, assigned to tcalmant

[2013-07-17 09:00] tcalmant opened #7 "Accept variables in @Requires and requires.filter"
When using a filter in ``@Requires``, it would be interesting to have use a property variable to have an instance-dependent filter.

Something like:
[code]

[2013-11-21 16:26] tcalmant opened #8 "MulticastDiscovery.grab_endpoin() should be a RegistryServlet utility method"
Instead of letting the multicast discovery service send a request to the remote dispatcher servlet, the local dispatcher access service (provided by the servlet) should do the communication itself.

[2013-11-22 09:26] tcalmant opened #9 "Make the RemoteServices package closer to OSGi specifications"
Current implementation only took into account part of the Remote Services specification (Chapter 100 of OSGi Compendium Specifications).

A new iteration should be made to comply with both Remote Services and Remote Services Admin specifications (Chapter 122).

[2014-03-20 11:08] tcalmant opened #10 "Allow custom inheritance of some provided services"
Allow a component to inherit some of the services provided by its parent class (a component or a decorated class).
The services included or excluded from the inheritance should be listed in the @ComponentFactory or an @InheritProvides or an @InheritHandler decorator.

[2014-03-27 11:06] #8 closed, assigned to nobody

[2014-03-28 09:58] tcalmant opened #11 "Bad check on duplicated @ComponentFactory"
If two bundles instantiate components of factories with the same name, no error is raised and only the first component factory will be used.

[2014-03-29 17:23] #11 closed, assigned to nobody

[2014-04-01 09:27] tcalmant opened #12 "Add a MQTT Remote Services Discovery provider"
Implement a Remote Service Discovery provider, which could work as a centralized discovery protocol.

It would also be interesting to try to implement a JSON-RPC-like transport through MQTT.

[2014-04-01 09:33] tcalmant opened #13 "Release 0.5.6"
Feature release of iPOPO
- New Remote Services implementation, closer to the OSGi specification and compatible with ECF (with mDNS and Jabsorb-RPC)
- New iPOPO "Waiting List" service, instantiating components as soon as their factories appear
- New iPOPO handler `@RequiresMap`
- First implementation of an MQTT client service
- New `@BundleActivator` decorator for Pelix bundles
- Bug fixes in both

[2014-04-01 09:37] tcalmant opened #14 "Update Documentation"
Update the documentation and tutorials at https://ipopo.coderxpress.net/
- Update docs & tutorials with the new APIs (`@BundleActivator`, iPOPO waiting list, ...)
- Tutorials for new services (MQTT, ConfigAdmin, ...)
- Rewrite the Eclipse IoT day page: link to code, Youtube videos, ...
- Review pages style

[2014-04-01 09:42] tcalmant opened #15 "Speed up the LDAP Filter implementation"
The LDAP Filter module (pelix/ldapfilter.py) is the slowest part of the code of iPOPO.
As it is often used, mainly for service filtering, it should be way faster.

According to line profiling, the evaluation of an LDAP filter takes more than 70% of the call time when using the get_service_references() method.

[2014-04-01 09:48] tcalmant opened #16 "Shell Console stops Pelix when running as daemon"
If a Pelix framework is started using `start-stop-daemon` with the `pelix.shell.console` bundle, the latter stops the framework immediately as it detects an EOF in the standard input.

The bundle should at least check if it is run as a daemon or log a warning before stopping the framework.

[2014-04-23 09:36] #16 closed, assigned to nobody

[2014-04-23 09:44] #9 closed, assigned to nobody

[2014-04-23 09:47] tcalmant opened #17 "Support ExportEndpoint replacement by name"
When an exported service is unregistered or when its endpoint name is updated, the dispatcher should look for services which export was refused due to an endpoint name conflict.
For example, if a service S1 and a service S2 require the endpoint name E1, S2 must be exported with this name as soon as S1 is unregistered or requires another endpoint name.

[2014-04-23 09:51] tcalmant opened #18 "Redefine the MQTT service"
The MQTT service provided by `pelix.services.mqtt` is not really usable as is.
Its API must be redefined in order to support real use cases or it will be removed.

It should also use the MQTT client class instead of having a parallel implementation.

[2014-04-23 10:29] #10 closed, assigned to tcalmant

[2014-04-23 15:09] tcalmant opened #19 "Add support for Remote Services "Synonyms""
Support a service property to define synonyms in order to be compatible with isandlatech/cohorte-remote-services#4.

[2014-04-28 08:03] tcalmant opened #20 "Add a "Remote Framework Directory""
Prepare a directory associating a framework UID with its host address.

That way, a discovery protocol will be able to send multiple host addresses to access the framework, and the "Framework Directory" will select the first working one or the last one used.

This shall allow to use the MQTT discovery with protocols other than MQTT-RPC.

[2014-04-28 09:37] #13 closed, assigned to tcalmant

[2014-06-10 08:28] tcalmant opened #21 "Create a @Singleton iPOPO decorator"
Add a decorator replacing either @ComponentFactory or @Instantiate, to ensure that one and only one component from this factory is instantiated at a time.

[2014-08-01 15:37] tcalmant opened #22 "socket has no attribute 'IPPROTO_IPV6' on Windows"
When trying to start the Remote Shell on Windows, the following error occurs:

[code]

[2014-08-04 12:41] #22 closed, assigned to nobody

[2014-08-08 15:52] #12 closed, assigned to nobody

[2014-08-10 15:46] #17 closed, assigned to nobody

[2014-08-28 13:01] tcalmant opened #23 "Increase compatibility for IronPython"
It seems that the "try-except ImportError" trick to have a code working with both Python 2 and Python 3 doesn't work well with IronPython.

It seems the `except` block should intercept both `ImportError` and `AttributeError` exceptions, as shows this trace, running "run_remote.py" :

[code]

[2014-09-11 14:23] debbabi opened #24 "Factory warning still present after correction + update"
[code]

[2014-09-15 13:11] #24 closed, assigned to nobody

[2014-09-15 15:24] #20 closed, assigned to nobody

[2014-09-17 13:05] #19 closed, assigned to nobody

[2014-09-24 12:59] tcalmant opened #25 "Add a no_restart flag to @Requires"
In most cases, it is acceptable to replace an injected service with a new one without restarting the client component.
For example, C depends on a service provided by  A and B, and A is injected in C.
When A is invalidated, B could be immediately injected in C, without invalidating C.

[2014-09-25 08:05] tcalmant opened #26 "Extend features of the Pelix Shell"
See https://ipopo.coderxpress.net/wiki/doku.php?id=contrib:shell_v2

[2014-10-02 06:55] tcalmant opened #27 "Shell command "threads" doesn't work in Jython"
``sys._current_frames()`` is not available in Jython, therefore *threads* and *thread* shell commands fail.

[code]

[2014-10-09 07:45] #25 closed, assigned to tcalmant

[2014-10-13 13:16] #26 closed, assigned to tcalmant

[2014-10-16 10:23] #23 closed, assigned to nobody

[2014-10-28 11:34] tcalmant opened #28 "Create a @Temporal handler"
It should act like the [@Temporal](http://felix.apache.org/site/temporal-service-dependency.html) handler of iPOJO.

It has the same signature as @Requires, but it behaves differently: when calling a dependency that has disappeared, the called will be paused until a new dependency is injected or a timeout exception will be raised.

[2014-10-28 11:43] tcalmant opened #29 "Create a @RequiresBest handler"
Same as @Requires for single (non-aggregate) dependencies, but ensures that the injected service will always be the "best" one, according to [service ranking](http://www.osgi.org/javadoc/r4v42/org/osgi/framework/Constants.html#SERVICE_RANKING) and registration orders.

The injected service will always be the one with the highest ranking (greatest service ranking integer).

[2014-11-03 11:10] tcalmant opened #30 "ServiceRegistry doesn't support service.ranking updates"
When updating the "service.ranklng" property of a service, the service registry doesn't re-sort the service references.
As a result, the reference returned by get_service_reference() is not the expected one.

[2014-11-03 16:13] #30 closed, assigned to tcalmant

[2014-11-04 10:39] #29 closed, assigned to tcalmant

[2014-11-04 15:41] #28 closed, assigned to tcalmant

[2014-11-06 14:25] tcalmant opened #31 "Pelix can't uninstall bundles without parent package (i.e. simple files)"
Shell sample:

[code]

[2014-11-06 14:29] #31 closed, assigned to tcalmant

[2014-11-26 09:51] tcalmant opened #32 "Create a @PostRegistration callback"
The `@PostRegistration` decorated method would be called right after a service has been registered by the `@Provides` handler.
This would allow to configure the component in `@Validate`, to register the service, then to start threads/handlers which require that the services to be provided.

[2014-12-23 14:41] #32 closed, assigned to tcalmant

[2015-01-20 14:23] tcalmant opened #33 "Erroneous component shouldn't stay in validating/invalidating modes"
If an exception is raised during a call to the methods decorated with ``@Validate`` or ``@Invalidate``, the state seen by iPOPO is kept as is, i.e. "Validating" or "Invalidating".

These components should be considered in either an "invalid" or "error" state, to reflect the problem.

[2015-02-10 15:37] tcalmant opened #34 "Backport ThreadPool from jsonrpclib"
The ThreadPool class has been copied and enhanced in the jsonrpclib-pelix project.
Its code and tests should be backported in iPOPO.

[2015-02-11 17:28] #34 closed

[2015-02-11 17:28] #21 closed

[2015-02-12 15:19] tcalmant commented on #33
Implemented and tests added => closing

[2015-02-12 15:19] #33 closed

[2015-03-10 11:41] tcalmant opened #35 "Remove support of Python 2.6"
Support for Python 2.6 forces to use ugly tricks to ensure compatibility with this version.
It also causes a lot of trouble to correct bugs, as each correction must then be rewritten to work with Python 2.6.

[2015-03-12 15:22] tcalmant commented on #35
Done with v0.6.0

[2015-03-12 15:22] #35 closed

[2015-03-27 08:47] tcalmant opened #36 "Add shell commands to change working directory"
Add ``pwd`` and ``cd`` methods to change of working directory

[2015-03-27 12:42] tcalmant opened #37 "Normalize HTTP server port in its validate() method"
When instantiating an HTTP service component using the ``instantiate`` shell command, the port property must be converted to an integer, else Python 3 fails with the error below.
Also, the ``invalidate`` method must be protected to avoid using a None reference.

[code]

[2015-03-27 19:03] #37 closed

[2015-03-27 20:45] #36 closed

[2015-04-10 16:33] tcalmant opened #38 "Add a report shell command"
A report shell command could be used to generate a full report of the current state of the framework, containing:
* OS description (using os.name and the platform module)
* Python description (version, path to the interpreter)
* Current state of Pelix (list installed bundles, with state, version and path)
* Current state of iPOPO (list of instances, with factory name, instance name and source bund

[2015-04-16 09:38] tcalmant opened #39 "Erroneous Components: Keep track of the exception"
Keep in memory the full stack trace, as a string, of the exception raised during component validation.
It should be accessible using the ``instance`` or a new shell command.

[2015-04-20 10:49] #39 closed

[2015-05-25 14:10] tcalmant commented on #14
* Take comments from [Reddit](https://www.reddit.com/r/Python/comments/36rm4h/ipopo_osgilikeipojolike_framework_in_python/) into acount

[2015-05-27 12:51] tcalmant opened #41 "Dynamic/plugged in handlers"
iPOPO should support a new kind of handlers, which could be added to live instance managers at runtime.
There activation couid be requested in two ways:
* the component indicates that it accepts to be handled by an optional handler: if it's here, the handler is bound to the component, else the component is started as normal.
* the handler indicates the components it wants to be bound to.

The idea

[2015-06-25 09:05] tcalmant opened #42 "Optimize handlers selection during callbacks"
When a handler event occurs, e.g. when a controller changes state, all the handlers are called back, whereas only those of "service_provider" kind should.

Proposal: the ``StoredInstance.__safe_handlers_callback()`` method should have the target "kind" as first parameter to select those specific handlers.
If this kind is ``None``, then all handlers must be notified.

[2015-07-23 10:33] gattazr opened #43 "Content-type sent"
In ```pelix.http.__init__.py``` , if no ```meme-type``` is given to the function ```send_content```, the ```content-type``` of the response will always be sent with the value ```text/html```.

[code]
So if it was set prior to the call of that function, the value will be overriden.

[2015-07-30 08:32] #43 closed

[2015-08-01 14:23] tcalmant opened #44 "Let the HTTP server queue size be configurable"
Let the instantiator of the HTTP server be able to configure the ``request_queue_size`` server class member.

[2015-08-06 10:31] tcalmant opened #45 "Support new remote services control properties"
Currently, Pelix Remote Services supports the ``pelix.remote.export.reject`` property to reject the export of a specific interface when using remote services, even if it has been indicated in the ``service.exported.interfaces`` property.

The main use case is when a component provides multiple services but disallows the export of only some of them, like local-only services (shell commands, ...).
T

[2015-08-06 10:36] tcalmant opened #46 "Try to optimize aggregated dependencies"
The ``@Requires`` injects lists in instances when working with aggregated dependencies.
When a new dependency is found, it is appended to the list, which therefore not sorted according to service ranking, but keeps item in place.

We should check if using ``collections.deque`` would be more efficient, as it is optimized for right-append operations.

[2015-08-31 13:50] tcalmant opened #47 "Implement an HTTP Service based on Tornado"
It seems possible to implement an HTTP service using [Tornado](http://www.tornadoweb.org/en/stable/).
This should increase the performances of Pelix HTTP (Tornado is faster than the HTTP server from the standard library).
It should also bring new features like websockets support.

An experimental implementation could be written before the release of 0.6.3.

[2015-09-01 13:44] #45 closed

[2015-09-01 13:57] #44 closed

[2015-09-01 14:04] tcalmant opened #48 "Make an awesome readme"
The current README file is not informative nor attractive enough.

See [matiassingers/awesome-readme](https://github.com/matiassingers/awesome-readme) for inspiration

[2015-09-03 16:28] tcalmant commented on #38
* The "network" level report seems OK on Windows, but misses external IPs on Linux (not tested on Mac OS). Maybe we could use ``netifaces`` if it is available.
* The "memory" level won't be implemented (for now).

[2015-09-04 13:20] tcalmant commented on #38
* Report command tested and working on Mac OS X.
* Some levels will be renamed: full -> standard; full will contain all tests (like its name suggests...)

[2015-09-07 08:28] tcalmant commented on #38
* Unit tests written for the report command, this issue will be closed once two other tests will be written (behaviour when calling 'show' twice and when calling 'make' without argument)
* Corrections made for the full report to work on Pypy

[2015-09-08 10:57] #38 closed

[2015-09-17 07:50] tcalmant commented on #46
Commit 1406707 seems to increase the speed of the instantiation of multiple components, but decreases the speed of their destruction. (investigating)

[2015-09-17 13:00] tcalmant opened #49 "Support arguments in pelix.shell.console"
``pelix.shell.console`` is the script executed by most of Pelix/iPOPO users to quickly test their bundles/
Therefore it should accept some arguments to ease those tests.

Here are some ideas:
* ``--version``: prints the version of Pelix and its installation folder, then quits returning 0;
* ``--init <script>``: runs the given script file (in fact, calls ``run <file>``) before accepting shell input

[2015-09-17 16:15] #49 closed

[2015-09-18 14:41] #48 closed

[2015-09-18 14:43] tcalmant commented on #46
The optimisation of the service registry gives a sufficient gain before releasing 0.6.3.
The decrease of performance while stopping the framwork will be investigated for 0.6.4.

[2015-09-18 14:48] tcalmant commented on #27
The threads command works on Pypy and Pypy3 nearly like in CPython (except Pypy doesn't let access to the value of the frame locals).

It doesn't interesting enough to implement this feature on other interpreters, as they might not give access to the state of threads others than the calling one.

If somebody thinks this feature is important, feel free to reopen the issue.

[2015-09-18 14:48] #27 closed

[2015-09-29 14:42] tcalmant opened #50 "Update .coveragerc file"
The options of ``.coveragerc`` have changed with ``coverage`` 4.0.
The ``exclude`` option seems to have been renamed:
[code]

This causes Travis-CI builds to fail.

[2015-09-30 14:58] tcalmant commented on #50
Fixed in 323baf095b71f0ec895a3db3f1131642b666b017

[2015-09-30 14:58] #50 closed

[2015-10-29 14:09] tcalmant commented on #47
Ideas:
* Use a "proxy" request handler, to map the iPOPO servlet API to Tornado. This will allow to use existing servlets without additional work.
* Public a "tornado" service, so that iPOPO component can register their Tornado handler
* Handle the whiteboard pattern for Tornado handlers ("tornado.handler.factory" services ?)

Support of Tornado request handlers will allow to use the native featur

[2015-10-29 14:18] tcalmant commented on #7
A new handler will be defined, e.g. ``@RequiresVarFilter``, in order to avoid losses of performance in ``@Requires`` and other existing handlers.

The filter will be parsed when the handler starts and when component properties are updated.
The variables will be injected in the filter string using the [string.Template](https://docs.python.org/3/library/string.html#template-strings) class.

[2015-11-05 09:47] tcalmant opened #51 "Possible bug in ConfigurationAdmin"
It seems that the https://github.com/tcalmant/demo-ipopo-nao project has problems with the MQTT configuration process, based on ConfigurationAdmin.

The demo fails to start because the MQTT component is not configured.
The configuration admin service prints the following line:
``PID error: mqtt-connector -- <internals.mqtt.MqttConnector object at ...>``

[2015-11-08 12:43] tcalmant commented on #51
The bug was coming from the demo-ipopo-nao code, as the managed service was using the configuration of a managed factory service.

Although, the ConfigAdmin service has been updated to always the logger instead of using ``print()`` to show this error.

[2015-11-08 12:43] #51 closed

[2016-02-17 23:17] gattazr opened #52 "Extending component creates warning with python 2.7"
When a module containing a component extending another component in another module is installed, warnings are raised on the redefinition of the functions annoted with @Validate and @Invalidate.

[code]

I have access to both python2 and python3 on my system. The warnings however only appears when I start the IPOPO shell with python2.
[code]

The module ``pelix.shell.tlsremote`` I am using in the e

[2016-02-17 23:18] gattazr opened #53 "Access to factories"
When a module containing a component extending another component in another module is installed and started, the factory of the extended component is also available. Because of this, an error is generated when we activate the two modules at the same time.

In the following examples, I am using a module ``pelix.shell.tlsremote`` that contains a component providing the factory ``ipopo-tlsremote-shel

[2016-02-18 14:47] tcalmant opened #54 "Error copying a FactoryContext from another bundle"
When calling ``FactoryContext.copy()`` for a component factory inheriting from a factory from another bundle, the ``copy.deepcopy()`` method fails with this error:

[code]

This behaviour has been reported on Python 2.7, 3.4 and 3.5.

[2016-02-18 15:43] tcalmant commented on #53
The error ``object.__new__(_thread.lock)`` (3rd trace) concerns the copy of the factory context from another thread.
It will be treated under issue #54.

[2016-02-18 15:55] #53 closed

[2016-02-18 15:55] #54 closed

[2016-02-18 16:22] tcalmant commented on #52
This issue won't be fixed, as it is harmless and due to the way methods declaration works in Python 2.

In Python 3, methods can be compared using the "is" operator: if a class A inherits a method from another class B, the comparison ``A.foo is B.foo`` will return True.
In Python 2, this check will return False.

We can't use the ``==`` operator, as the ``A.foo == B.foo`` will return True even if

[2016-02-18 16:22] #52 closed

[2016-03-14 04:17] drem-darios opened #55 "Enable TLS in Pelix MQTT client"
The MQTT client should provide a way to configure TLS encryption and authentication options on the underlying paho mqtt client.

[2016-03-14 09:52] tcalmant commented on #55
Hi,
The latest commit gives access to the ``tls_set()`` method from the Paho client.
It also give a direct access to the underlying Paho client, with the ``raw_client`` property.

The MQTT service doesn't support this feature and will be updated later this month.

[2016-04-01 18:47] tcalmant opened #56 "Add support for hidden properties"
Components using properties to be given a password or a token should be able to hide those values.
That way, only that component could read a password, hiding it from other components.
Those values shouldn't be visible in the shell either.

[2016-04-06 12:04] tcalmant opened #57 "Correct network-based tests on Travis-CI"
Travis-CI only supports the IPv4 stack in container mode ([source](https://docs.travis-ci.com/user/ci-environment/#Networking)).
The network tests seem to try to connect parellel interpreters using the IPv6 stack, which causes the following error:
[code]

[2016-04-08 22:40] tcalmant commented on #57
Corrected in commit 0884c96: a Mosquitto server is installed and started on the Travis-CI test machine.

[2016-04-08 22:40] #57 closed

[2016-04-28 15:20] #56 closed

[2016-05-04 09:32] tcalmant commented on #47
As it depends on Tornado, which is not a "basic" dependency, this feature should be implemented in a side project.

[2016-05-11 08:34] tcalmant opened #58 "Implement an HTTPS Server component"
Add support for an HTTPS server, either as a new component or as an extension of the existing HTTP server.

According to this [discussion on Reddit](https://www.reddit.com/r/Python/comments/4hx8fe/psa_do_not_use_sslwrap_socket_asis/), it might be interesting to have a utility method to wrap the socket with the best method available (according to the version of Python), and to log a warning when no

[2016-05-11 08:39] tcalmant opened #59 "Implement a LogService"
Implement a LogService matching OSGi's API, based on the Python standard logging module.
Also provide a "log" command in the shell to print the latest log traces.

[2016-05-16 15:34] tcalmant commented on #7
The first implementation of this handler is live.
The variables are injected using ``str.format`` instead of the ``string.Template`` class.
Some tests have been written for the "single dependency" mode; the "aggregated dependencies" tests will come later.

Note: the implementation isn't atomic: each requirement and each injected service are handled one by one.

[2016-05-21 19:14] scottslewis opened #60 "Add Remote Services Admin (RSA) management agent"
Part of the OSGi Enterprise specification is Remote Services Admin (chapter 122).  RSA is a management agent of OSGi remote services.  The management agent gives more fine-grained control of remote services, and allows services to be exported and imported by custom topology managers.

RSA also supports a multi-distribution provider approach, allowing transport-independent remote services.

An desc

[2016-05-22 16:47] tcalmant commented on #7
Tests fully implemented after 848b8de79142c05a497fb73dcc99c6e666164f9b: the implementation of RequiresVarFilter can now be considered stable.

[2016-05-22 16:47] #7 closed

[2016-05-25 19:54] tcalmant opened #61 "Normalize sys.path when starting the framework/installing a bundle"
The value initial value ``sys.path`` should be kept and normalized (all path must become absolute), in order to avoid problems like described on the [ipopo-dev list](https://groups.google.com/forum/#!topic/ipopo-dev/VLKo7X3rnwk).

In short: if the working directory changes during the execution, then the value of ``sys.path`` will become inconsistent.

Also, Pelix should add its container (folder,

[2016-05-29 22:17] #59 closed

[2016-06-03 21:32] freemonj opened #62 "Autostart bundle capability when loading running pelix shell"
I would the ability to autoload a bundle when the pelix.shell is invoked without having to start it manually at the command line interface. Presently only the --init argument is available but if you want multiple bundles to be loaded and in an specific order that gets difficult without a built-in capability.

[2016-06-06 13:47] #61 closed

[2016-06-06 14:07] tcalmant opened #63 "MQTT tests fail"
The latest Travis tests couldn't pass due to an error in the MQTT client:

[code]

[2016-06-12 13:29] tcalmant commented on #63
The problem came from the version of Mosquitto from the repositories used by Travis-CI VMs becoming too old (0.15 instead of 1.4.9).

[2016-06-12 13:29] #63 closed

[2016-06-12 13:34] tcalmant commented on #46
The decrease of performance doesn't appear every time, and it seems to be due to the way data structures work.
Therefore, they'll be no evolution on this issue unless the time needed to stop the framework cleanly causes real troubles.

[2016-06-12 13:34] #46 closed

[2016-06-12 15:56] tcalmant commented on #58
Test passed!

[2016-06-12 15:56] #58 closed

[2016-06-29 16:01] scottslewis opened #66 "BundleActivator start being called out of order relative to service activate"
When bundle is installed and then started, with a service instantiated and validated, the order of method invocations seems to be:
[code]

This is unexpected ordering, as in OSGi the Bundle start method is guaranteed to occur prior to any service registration and subsequent validation.

Thomas indicates this appears to be a bug associated with this line of code:
https://github.com/tcalmant/ipopo/b

[2016-07-10 13:19] #66 closed

[2016-08-03 08:44] Paltoquet opened #67 "Threadpool not working as intended"
Hello,

I am working for Denis Morand,

I have readen the mail you sent in response of our problem.
I tried to implement your suggestions.
The issue is that if we add tasks too fast to the Queue, the active_nb_thread does'n t have time to update cause it's incremented in an other Thread (run method), wich doesn't enable us to have the  number of thread we wanted

I have wrote a main to test the di

[2016-08-03 12:06] tcalmant commented on #67
Hi,

This is a fast answer, I'll take a deeper look into the problem ASAP.

As said earlier, the second implementation (increasing ``nb_thread`` in ``run``) will certainly lead to problems on slow devices, so I think we should avoid it.

The first implementation seems OK, except for bad indentation in the ``start()`` method: the ``for`` loops starting threads are executed only if ``nb_pending_task

[2016-08-03 12:37] Paltoquet commented on #67
You are right about the indent, sorry

the idea is to keep having 2 for loop in the start method:
[code]
we only need to increment the number of active_thread in the first one (the number of pending task)
the "nb_threads-nb_pending_tasks" reference here the thread wich we launch but don't have any job to do, they aren't active but when we will issue request through "enqueue" call they will become

[2016-08-05 13:27] tcalmant commented on #67
I've ran the existing unit tests and I haven't seen any regression.

I have two corrections though:
* ``nb_threads`` must be defined in any case, else the second *for* will fail.
* there was typo when setting ``nb_pending_tasks``: ``max_threads`` => ``_max_threads``

[code]

To keep track of the ownership of the changes, you should fork the project, commit your modifications and make a pull reques

[2016-08-17 12:17] Paltoquet commented on #67
Hello,

I found some remaining litlle error wich could result on the creation of too many thread

first I think that:

in Enqueue >= or = should be changed in >
[code]
should be changed in

[code]
We increment active_thread before the condition
let's assume that at start we create a thread wich do noting
we Enqueue a task:
nb_thread = 1, nb_active_thread = 1 -> call self.__start_thread() or we don

[2016-08-17 12:48] tcalmant commented on #67
Hi,

OK for incrementing ``nb_thread`` in ``start()`` instead of ``_run()``: if a thread fails to start, an exception should be raised either when creating the thread object or calling its ``start()`` method.
So you might want to protect this step like this:

[code]

Sure: fork, clone, commit, push and create a pull request :)

[2016-08-17 14:16] Paltoquet commented on #67
one last thing and i think we are good
in run method
[code]

i think there is a problem with this block

[code]

if you push 6 task and you have max_thread = 2 and min_thread =1
they will both execute their task but in this block one of the thread will return and stop getting task from the queue.

I think we need to add something in the condition
something like:

[code]

if they are still work to

[2016-08-17 15:37] tcalmant commented on #67
Indeed this would avoid stopping threads that could still be used.
I'll test the new thread pool once you'll have made the pull request, in order to test it in various conditions with the full framework.

Thanks :)
Don't hesitate to share your experiments and to provide feedback on [the mailing list](https://groups.google.com/forum/#!forum/ipopo-users) or [the wiki](https://ipopo.coderxpress.net/w

[2016-08-18 08:23] Paltoquet commented on #67
I made some little changes

I rename self.__active_thread in self.__pending_task

so in enqueue when we add a task
we increment the number of pending task and the condition becomes:
[code]
the task are decreased when we finish a task in the run method

I made some mistakes last time, when should we destroy a thread, we don't compare the number of thread to the number of task in the queue, but the

[2016-08-18 08:52] tcalmant commented on #67
OK, I'll take a look tomorrow.

You have to [fork the project](https://help.github.com/articles/fork-a-repo/) (via the Web UI), pull the new repo, commit, push to your repo and finally [create the pull request](https://help.github.com/articles/using-pull-requests/).

[2016-08-19 11:28] #67 closed

[2016-08-19 14:41] tcalmant opened #69 "Support HTTPS in Remote Services"
Currently, the protocol used to access a JSON-/XML-RPC endpoint is forced to HTTP.
The discovery process should indicate if the endpoint is being an HTTP or an HTTPS server.

[2016-08-27 16:50] tcalmant commented on #69
Tested successfully with d519cbf14dcad35dc84802834e4e8d5cf35d28b1 (with a signed certificate)

[2016-08-27 16:50] #69 closed

[2016-11-16 17:47] heuer opened #71 "Update link to docs (SSL warning)"
For <https://ipopo.coderxpress.net/> I get a SSL warning, either fix the certificate issue or refer to the target URL <https://ipopo.readthedocs.io/>

[2016-11-16 23:00] #62 closed

[2016-11-16 23:00] #71 closed

[2016-11-23 16:01] tcalmant commented on #14
The documentation is now hosted by [Read The Docs](https://ipopo.readthedocs.io/en/latest/) and must be completely rewritten.

[2016-12-01 08:56] tcalmant opened #72 "Add docker-friendly remote service discovery providers"
Multicast is not available on Docker networks, which means that most of built-in discovery services can't work on that kind of architecture.

The following providers could be interesting to handle this situation:
* Broadcast discovery (this might work on Docker)
* Key-Value servers (ZooKeeper, Redis, ...) discoveries
  * based on hostnames
  * based on all available IPs, with a Framework UUID chec

[2016-12-01 08:58] debbabi commented on #72
+1

[2016-12-14 16:43] tcalmant opened #73 "Exception in the Redis discovery module"
This error can appear when starting multiple frameworks in parallel while some traces of lost frameworks are still stored in Redis.

[code]

[2016-12-15 10:12] #73 closed

[2017-02-25 14:16] tcalmant opened #74 "Allow to retrieve a component instance by its name"
As pointed out in the [users-list](https://groups.google.com/forum/#!topic/ipopo-users/TPow-pYpSzY), there is currently no (*straightforward*) way to retrieve an existing component instance by name.

Therefore, a ``get_instance(name)`` method should be added to the iPOPO core service.

[2017-02-25 15:28] #74 closed

[2017-03-11 16:20] tcalmant opened #75 "Add support for ServiceFactory"
Even if they have been less than 10 answers to the [usage survey](https://docs.google.com/forms/d/1zx18_Rg27mjdGrlbtr9fWFmVnZNINo9XCfrYJbr4oJI), the most requested feature is the support for Service Factories.

A Service Factory is a special kind of service that is called by the framework each time it is requested by a bundle: this allows to have one instance (or even implementation) of a service

[2017-04-13 14:13] tbr opened #76 "Bug in FrameworkFactory.get_framework() due to calling buggy normalize_path() function"
Python's sys.path grows each time when calling the `FrameworkFactory.get_framework()` method.

This is caused by the call to` normalize_path()`, which (to my opinion), is bugged. The `normalize_path()` function inserts `''` and` os.getcwd()` to the sys.path variable, without checking the contents of sys.path and whether cwd is already in sys.path. Thus, sys.path keeps growing over time while using

[2017-04-13 19:52] tcalmant commented on #76
Hi,
Thanks for the report.

I'd prefer to move the call to ``normalize_path()`` in the ``if cls.__singleton is None`` block as the idea was to normalize the environment before creating a framework (therefore, before calling ``__init__``.

In any case, your version of ``normalize_path()`` will help to avoid the bug: could you make a pull request for the fix, to keep paternity of your code ?

[2017-04-14 11:26] tcalmant commented on #76
Fixed by #77

[2017-04-14 11:26] #76 closed

[2017-04-14 11:44] tcalmant commented on #4
This issue is replaced by #75

[2017-04-14 11:44] #4 closed

[2017-04-28 08:43] tbr opened #78 "Request to modify/enhance @Provides decorator functionality"
Hi,

I want to propose a small change to the `@Provides` decorator. Often (as in OSGi) service classes implement interfaces, and the interfaces define how the service can be used. Currently in iPopo, the programmer of such service is required to repeat in the specifications property the list of interfaces that are defined by the class. In order to simplify this, I made a functionality change that

[2017-04-28 09:00] tcalmant commented on #78
Hi,

About the 1st part:

This would be a nice feature 👍
I think it would also be necessary to filter out ``object`` when getting the list of parent classes.

About the 2nd part:
I agree, this could lead to name clashes.
Although, this is a breaking change (I think a unit test should be updated as well).
So we'll have to notify the user of this change.

Thanks for the idea :)
I'll take a look at y

[2017-04-28 09:14] tbr commented on #78
Hi,

the `object` filter is already in the code.

The qualname change might break existing code, indeed. So I'll leave that up to you to decide on. But on the long run, I guess it's the better way. Now, I also now it can cause issues when classes are referenced from modules that have different sys.path setups (it adds extra package names in the hierarchy). So, this should be well-documented and ex

[2017-04-29 13:09] tcalmant commented on #78
Hi,

As the qualname change will break some existing projects, I suggest we provide both forms of the specification (short, actual, one and the fully qualified one).
The removal of the the short name could be activated by a flag to the Provides class at startup and applied when releasing a future version of iPOPO, either 1.0 or before.

About the computation of the full name, I think it could be p

[2017-05-02 08:51] tbr commented on #78
Hi,

1) qualname might break some existing projects indeed, however in most cases name and qualname are identical.
2) calculating module w.r.t. syspath is also not a stable solution, as syspath can change between loading of bundles/packages/modules. I would not make it more complex than needed. Documenting the behavior seems the most reasonable thing to do.
3) To resolve these 2 items, I propose t

[2017-05-02 09:18] tcalmant commented on #78
Hi,

I agree

That could be a solution, I suppose we could then swap the default value in a future release then remove it.
I'd prefer a more "hidden" thing, like a new member of the ``Provides`` class, like:

[code]

``use_qualname `` being a class member of Provides (not an instance member)

That way, the legacy doesn't have to be changed at all, and the use the full name can be activated/tested

[2017-05-02 09:58] tbr commented on #78
I think that seems a good proposal, yes.

[2017-05-04 06:46] tbr commented on #78
If you'd like, I can implement this and make a pull request for you?

[2017-05-04 08:18] tcalmant commented on #78
Hi,

I won't be able to work on iPOPO before sunday, so if you have time before
that, you can do it if you want :)

2017-05-04 8:46 GMT+02:00 tbr <notifications@github.com>:

[2017-05-04 08:55] tbr commented on #78
The work is done and available in the new_provider branch, I suggest you review it first (when having the time) and then I'll merge it to master and create a pull request.

[2017-05-05 13:56] tcalmant commented on #78
Hi,

I'd just change two lines for the code style:
* [decorators@753](https://github.com/tbr/ipopo/commit/e19220928d903e1ba515a3dac425b25ea3e340ab#diff-ad3715bdf06a82e6241f65c1b4c74296R753): I'd replace the ``== object`` by ``is object``;
* [decorators@820](https://github.com/tbr/ipopo/commit/e19220928d903e1ba515a3dac425b25ea3e340ab#diff-ad3715bdf06a82e6241f65c1b4c74296R820): I'd remove the spaces

[2017-06-02 16:23] ogattaz opened #80 "UnicodeDecodeError caused by a log from core.py"
The line 158 of core.py is  a declaration of a property ???
`self.running = False`

Mac OS 10.11.6 + Python 2.7.13 installed using Homebrew 1.2.1

The error appears 3 times :
`
2017-06-02 12:56:45,342:DEBUG   :cohorte.vote.core   : Coup d'état by xxxx-isolate python
Traceback (most recent call last):
  File "/usr/local/Cellar/python/2.7.13/Frameworks/Python.framework/Versions/2.7/lib/python2.7/log

[2017-06-02 22:10] tcalmant commented on #80
Hi,
The stack trace references in fact the `cohorte.vote.core` module, from the Cohorte Runtime project.
See [`core.py`@158](https://github.com/isandlaTech/cohorte-runtime/blob/master/python/cohorte/vote/core.py#L158).

The problem comes from the trace being logged contains UTF-8 characters, but the `logging` seems to use an output stream that doesn't support that encoding.

The easiest solution i

[2017-06-06 07:13] ogattaz commented on #80
OK, thanks Thomas.
We are going to remove the french characters from our message !

[2017-06-06 07:13] #80 closed

[2017-06-16 09:02] tcalmant commented on #75
ServiceFactory feature has been merged in the master branch.
The PrototypeServiceFactory is still to be developped, but might be added in 0.6.6 instead of 0.6.5.

[2017-07-29 06:26] enferre opened #81 "Remote services vs Cohorte Herald"
This project is awsome and I'm really thinking to use it in my projects. I hope you are going to keep developing and maintaining it!
One question: how iPOPO remote services are related with Cohorte Herald project? Do you suggest to exploit Herald or the transport/discovery provided with iPOPO

[2017-07-29 10:05] tcalmant commented on #81
Thanks :)
I've less time to work on iPOPO that I'd like, but don't worry, I'll continue to maintain it.

About Cohorte Herald vs. Pelix Remote Services: both have different purpose:
* Pelix Remote Services can be used to let Pelix/iPOPO frameworks communicate through RPC, in point-to-point connections.
By using the Jasborb-RPC provider (included), you can also communicate with Java/OSGi services i

[2017-08-02 22:20] enferre commented on #81
Dear Scott and Thomas,

thank you for having shared these information and links. I'm going to carefully have a look on them.
The sinergy between your projects look promising and I am looking forward to see progresses!
For your knowledge, at the moment I'm looking at Pelix/iPOPO as best candidate for supporting the implementation of the IoT resource adaptation layer under development within EU-fund

[2017-08-03 09:34] tcalmant commented on #81
Hi Scott and Enrico,

That's great news !
Thanks Scott for working on the RSA, I think it will be a major feature for iPOPO 👍

Also, it would be really interesting to have feedback on the usage (or non-usage) of iPOPO in your projects :)

Best Regards,
Thomas

[2017-08-04 10:35] enferre opened #82 "Pelix/iPOPO and multi-threading"
Dear Thomas,
sometime requirements would need to implement two data-processing bundles running concurrently.
Is the Python's Global Interpreter Lock (GIL) a limitation for Pelix/iPOPO to execute multi-threading applications?

Thanks again for your time.
BR,
Enrico

[2017-08-04 11:30] tcalmant commented on #82
Hi Enrico,

Pelix/iPOPO will lock during bundle installation, start and stop operations, as well as service un/registration and component validation.
This has been designed to avoid unwanted behaviors in most cases, most importantly to avoid having a service being unregistered while a component depending on it is validating.

Once the callback method of the bundle (start/stop) or component (valida

[2017-08-07 14:10] tcalmant commented on #72
Added ZooKeeper discovery in commit d31c4150a3781ff733e40f2628dc59d301d406e7
All feedback is welcome.

[2017-08-20 12:31] tcalmant commented on #72
Tests added this week, leading to some fixes for compatibility with Python 2.7.
Considering this task done.

[2017-08-20 12:31] #72 closed

[2017-08-20 12:35] tcalmant opened #83 "Zeroconf discovery: sometimes, unregistrations are not detected"
In some cases, services and frameworks unregistrations are not detected by the mDNS/Zeroconf service discovery.
This leads to failures in Travis-CI builds, but can't be reproduced easily on my computers.

This could be due to:
* slow detection of the new service/framework unregistration (past the timeout)
* slow detection of the new service/framework registration (both events could be handled too

[2017-08-20 12:43] tcalmant opened #84 "Add missing unit tests"
The current unit tests cover around 84% of the framework, and will never be more than 95%, most of the untested lines being error handling in very specific/hardly reproducible cases.

However, there are still some services that are not tested at all, being:
* XMPP utility client and XMPP shell interface:
  * this is mainly due to the lack of an XMPP server in the test environment
  * it could be p

[2017-09-17 13:38] tcalmant commented on #84
All modules/bundles of Pelix/iPOPO are now tested, which guarantees they can be used in Python 2.7 and in Python 3.4 to 3.6.

[2017-09-17 13:38] #84 closed

[2017-09-17 13:39] tcalmant commented on #83
This issue was due to a typo in tests, which was checking the unregistration of a service before the mDNS timeout.

[2017-09-17 13:39] #83 closed

[2017-09-17 13:50] tcalmant opened #85 "Handle deprecation of imp and pkgutil.ImpImporter"
The [``imp``](https://docs.python.org/3/library/imp.html) module and the [``pkgutil.ImpImporter``](https://docs.python.org/3/library/pkgutil.html#pkgutil.ImpImporter) class have been deprecated, but are used by Pelix for bundle imports.

As the replacement module, [``importlib``](https://docs.python.org/3/library/importlib.html#module-importlib) has been added in Python 3.1, an intermediate layer

[2017-09-17 15:01] tcalmant commented on #78
Closing, as this feature is bundled in iPOPO 0.6.5.

[2017-09-17 15:01] #78 closed

[2017-09-27 09:23] tcalmant commented on #85
The replacement of ``imp.reload()`` by ``importlib.reload()`` works as expected.
New tests must be implemented to check ``install_visiting`` and ``install_package`` behavior.

[2017-10-07 10:10] #85 closed

[2017-12-24 17:18] tcalmant commented on #75
PrototypeServiceFactory have been implemented successfully.
Tests have been added to check their behaviour and to validate that the ServiceObjects API works as described in the OSGi specifications.

A new feature has been added in order to have a sane behaviour: service auto-release.
When a consumer bundle stops, the framework now ensures that all the services it uses are released.
This **doesn't*

[2017-12-26 17:22] tcalmant commented on #75
Documentation has been added, so this issue can be closed.
Please open a new issue if a bug is found in the implementation.

[2017-12-26 17:22] #75 closed

[2017-12-30 13:32] tcalmant opened #87 "Add command-specific completion with readline"
Currently, the Pelix Shell can only complete command names, based on the registered Shell Command services.

It should be possible to let the services define a completer per command in order to ease the use of some commands, like ``instantiate``, where typos are a common issue.

Check the [readline entry from PyMOTW](https://pymotw.com/3/readline/#accessing-the-completion-buffer) for hints on impl

[2017-12-30 23:12] scottslewis commented on #60
Hi Thomas.

Congratulations on releasing 0.7.0...and Happy New Year!   It's nice to see ServiceFactory supported in iPopo, as it will help with implementing RSA.

It's my desire to work on the ipopo RSA implementation more at the beginning of 2018, now that 0.7.0 is out.   I've done some initial work (i.e. creating org.osgi.services.remoteserviceadmin.* classes in python that define the RSA API...

[2017-12-31 10:58] tcalmant commented on #60
Hi Scott,

Thanks ! And Happy New Year :)

The main advantages of EventListenerHook are, like you said, that it's based on the whiteboard pattern, but also that *hooks* would be notified before *normal* service listeners; so I think it could be an interesting feature in some use cases of iPOPO itself.

This feature could be implemented quite easily, because all the work would be done inside the se

[2017-12-31 21:53] scottslewis commented on #60
Hi Thomas,

One hitch about the EventListenerHook...the second parameter in EventListenerHook.event is a Map: i.e.

void event(ServiceEvent, Map<BundleContext,List<ListenerInfo>>)

Currently, the pelix Dispatcher adds service listeners with Dispatcher.add_service_listener(listener,specification, ldap_filter)

...with no passing of BundleContext, so the bundle context of the service listener  is no

[2017-12-31 22:11] scottslewis commented on #60
Also Thomas:  Would you please add me as a contributor to the ipopo repository?  I can then create/push an rsa branch and issue pull requests off that branch.   In the long term I think that will be easier for me than doing pull requests from a fork.   I promise to not commit or push directly to master.

[2017-12-31 23:26] tcalmant commented on #60
Hi Scott,

No problem with adding the bundle context reference to the event dispatcher.

I've added you as contributor to the project, it's true it will ease this
kind of contribution.

Le 31 déc. 2017 23:11, "Scott Lewis" <notifications@github.com> a écrit :

[2018-01-09 23:19] tcalmant opened #89 "Check how iPOPO decorators behave with Data Classes"
Python 3.7 introduces *Data Classes* ([PEP-557](https://www.python.org/dev/peps/pep-0557/)).

Before the next release of iPOPO, it will be necessary to
1. test if our decorators behave correctly with this kind of class
1. check if there are some constraints (decorators ordering, ...)
1. add some hints in the documentation about this special case

[2018-01-12 15:42] tcalmant commented on #89
After some tests, here are some notes about Data Classes and iPOPO.
The test files are in ``tests/dataclasses/``, and are not executed during unit tests: they would only work for Python 3.7 and 3.6 with the [``dataclasses``](https://pypi.org/project/dataclasses/) package.

## Important notes

* **All** fields of the Data Class must have a default value. This will let the decorator generate an ``__

[2018-01-16 09:20] tcalmant opened #90 "prototype flag is missing from @Provides"
The ``@Provides`` iPOPO decorator doesn't have a ``prototype`` argument to let the component provide a Prototype Service Factory.

Thanks @vozvivan for pointing this issue.

[2018-01-16 09:48] #90 closed

[2018-02-11 16:07] tcalmant commented on #87
The "completers" are implemented as objects created during the class
definition.
It would be smarter to let the decorator store flags and call handlers.

[2018-02-26 11:32] tcalmant commented on #87
Implemented in 27f8dbf

[2018-02-26 11:32] #87 closed

[2018-03-13 20:15] matthieucan opened #91 "Provide a shortcut to do "install + start""
In the Pelix shell, I often find myself running `install foo` and `start bar`, `bar` being the bundle id of `foo`. A command to install+start would surely be useful!

[2018-03-13 23:24] tcalmant commented on #91
Agreed, as it could also be easily implemented:
* if the argument of ``start`` is an integer, then its a bundle ID (bundle names can't start with a digit)
* else, it's a bundle name, and we can do ``install+start``

[2018-03-14 08:24] tcalmant commented on #91
Fixed.
You can now use both methods:

[code]
and

[code]

**Note:** The ``$?`` variable is not set by ``start`` as it accepts multiple IDs at once.
It is therefore recommended to use ``install`` in init scripts if you want to keep track of bundle IDs.

[2018-03-14 10:53] matthieucan commented on #91
Wow, that was fast :) Thanks a lot!

[2018-03-14 20:06] matthieucan opened #94 ""No iPOPO service available" when running example from the doc"
When running the code at https://ipopo.readthedocs.io/en/latest/refcards/init_config.html#sample-api-usage
I get the following stacktrace:
[code]

I checked that the bundle context looks like `BundleContext(Bundle(ID=0, Name=pelix.framework))`, equal to the bundle context in felix.shell where similar API calls are issued.

[2018-03-15 10:12] tcalmant commented on #94
OK, there is something missing in the documentation.

To call ``instantiate_components()``, you must have declared ``pelix.ipopo.core`` in the bundles section of the init file.

[2018-03-15 15:22] tcalmant commented on #91
Some tests must be updated after this change

[2018-03-15 15:34] #91 closed

[2018-04-24 21:10] scottslewis commented on #60
Hi Thomas.

Question for you:   In my local workspace I've added on the pelix.rsa package, and have a pelix.rsa.remoteserviceadmin.py file...with a bundle activator declared.   If I try to create a framework with  a pelix.rsa.remoteserviceadmin bundle, however, I get error in importlib.import_module('pelix.rsa.remoteserviceadmin'):

Error installing bundle pelix.rsa:  No module named 'pelix.rsa'

[2018-04-24 21:51] scottslewis commented on #60
Hi Thomas.

Please nevermind.   I discovered the project reference was just wrong and that's why the pelix.rsa package wasn't found.

[2018-04-24 21:55] tcalmant commented on #60
Hi Scott,

That's great news !

I don't have an exact time-frame for the next release, as I didn't have as much time as I'd like/need to properly work on iPOPO these last weeks.

On one hand, I have to add some tests on existing features and to add some documentation. Also, the TLS support in the Remote Shell seems to work, maybe I'll add it as an early-stage feature.

On the other hand, it might

[2018-04-25 03:04] scottslewis opened #95 "org.osgi.framework.uuid should be set on framework construction"
The framework uuid in ipopo is set to the property named 'framework.uid'  in the Framework constructor.   RSA requires access to the framework uuid and the spec indicates that the uuid has name:  'org.osgi.framework.uuid'.   It would be helpful if the same uuid was set by the framework to both 'framework.uid' and 'org.osgi.framework.uuid'.

[2018-04-25 08:40] tcalmant commented on #95
Agreed.
This property is set in [pelix/framework.py, line 634](https://github.com/tcalmant/ipopo/blob/master/pelix/framework.py#L634).
As this is a read-only property, there are no problem storing the ``framework_uid`` variable with the new name, alongside the old one.

[2018-04-25 16:29] scottslewis commented on #95
Hi Thomas.   Ok, I'll produce a pull request.

[2018-04-25 17:55] scottslewis commented on #95
Here is the pull request

https://github.com/tcalmant/ipopo/pull/96

[2018-04-26 18:14] tcalmant commented on #95
Thanks for the pull request :)

[2018-04-26 18:14] #95 closed

[2018-04-29 20:08] scottslewis commented on #60
Hi Thomas,

I have a question for you about ipopo.    I'm creating component factory instances dynamically, via _IPopoService.instantiate(factory_name, name, properties).    I would, however, like to get at the name and properties values from within the component instance (e.g. in @Validate method for component).   How best to get the service_ref for the factory component instance and it's associa

[2018-04-29 20:46] scottslewis commented on #60
Hi Thomas,

Ok...I found PostRegistration decorator.   That seems to provide the service_ref....bingo!

Thanks.

[2018-04-30 17:04] scottslewis commented on #60
One question about PostRegistration callbacks.   Given the name, I assume that these are called after the service is actually is put in the service registry.   Does this mean that some other thread (other than the one that calls ipoposervice.instantiate(factory_name, name, props) ) could begin calling methods on the newly created and registered service instance before PostRegistration actually com

[2018-04-30 18:11] scottslewis commented on #60
One other question:   what happens if the @PostRegistration callback throws and exception?   Is the component unregistered and instantiate throws?  or something else?

I guess what I'm getting to is that I need to do some initialization of the factory-created/instantiate instance...that could fail/exception, where the props map contains the initialization info (dynamic).

Thanks.

[2018-04-30 20:08] scottslewis commented on #60
Here's one thought:   The @Validate decorator currently passes in the bundle context to the method implementation...e.g

@Validate
def _my_validate(self, bundle_context):
   # do stuff to validate

Would it be possible to enhance this validate notification so that the following signature could be supported?

@Validate
def _my_validate(self, bundle_context, props):
   # do stuff to validate

where

[2018-05-02 08:57] tcalmant commented on #60
Hi Scott,

This seems to be a good idea, especially as it would mimic the behavior of DS.
Maybe this would require to open a new issue to have a specific discussion about this feature.

I think it would be better to use arguments on ``@Validate`` as it allows to be explicit on the arguments the method expects.
Note that it is complicated to have the ``@Validate`` decorator working both with and wi

[2018-05-02 15:22] scottslewis opened #97 "Add ipopo decorator for dynamic validation"
# Here is dialog from issue 60

## scottslewis

Here's one thought: The @Validate decorator currently passes in the bundle context to the method implementation...e.g

[code]
Would it be possible to enhance this validate notification so that the following signature could be supported?

[code]
where props is a Map (the instance properties)

If that's difficult or impossible then perhaps an alternati

[2018-05-02 16:00] tcalmant commented on #97
Hi Scott,

I took the liberty to update the formatting of the issue, to keep track of some links I put in the previous discussion :)

No problem. I'm also under a constant load of work, so it won't be implemented before this weekend.

The most tricky part will be to choose when the decorated method will be called (before or after @Validate).

[2018-05-02 16:32] scottslewis commented on #97
Hi @tcalmant ,

Formatting....good idea :+1:

I appreciate the effort...lmk if/how I can help.    I have a use case (RSA impl) where I can try it out right away.

[2018-05-06 10:16] tcalmant commented on #97
Hi @scottslewis,

I've just pushed an early version of ``@ValidateComponent`` on branch ``validate_component``.

It's an early version, so:
* the signature of the callback depends on the order of the list of arguments given to the decorator. I think this will stay
* the properties given to the callback are a copy of the component properties, to avoid messing with requirements based on properties.

[2018-05-09 15:11] tcalmant commented on #97
Hi Scott,
I've added the tests for this decorator and it works as intended.
Let me know if you need it to be tweaked.

Once it suits your needs, I'll merge it into the master branch.

[2018-05-09 17:06] scottslewis commented on #97
Hi Thomas.   I've tried it out for my use case and it seems to work fine so I'm +1 for merging to master.   Thank you for adding this so quickly!

[2018-05-09 20:37] scottslewis commented on #97
Hi Thomas.  One thing I noticed with further testing:   If the ValidateComponent method raises an exception it does not prevent the component from being registered as a service in the service registry.   Would it be possible for the ValidateComponent exception to prevent the component from being registered in the service registry?

[2018-05-09 20:57] tcalmant commented on #97
Hi Scott,
I'll take a look tomorrow. I missed it in the tests

[2018-05-10 09:39] tcalmant commented on #97
Hi Scott,
I've fixed the issue, all should work well now.

Note that when ``@ValidateComponent`` raises an exception, the component will be in ``ERRONEOUS`` state (you can call ``retry_erroneous`` to try new properties or ``kill`` it).
During the change of state ``@Invalidate`` will be called (this is the standard error handling), so be careful with the variables you use in this callback.

[2018-05-10 15:43] scottslewis commented on #97
Hi Thomas.

I see the behavior you describe wrt the component instances, but still see the service in the service registry (e.g. sl console command).   To get the component instantiation failure to result in removal from the service registry (e.g. ValidateComponent raises) is it necessary to manually unregister it (and kill it from the component factory?)   Can such clean up be safely done in Inva

[2018-05-10 16:31] tcalmant commented on #97
Hi Scott,
I'll take a look asap, but it looks like a bug.
A component must be in valid state for the "provides" handler to be called, which shouldn't happen when the component goes into erroneous state.

[2018-05-10 16:48] tcalmant commented on #97
Hi Scott,
I can't reproduce the issue, the snippets I tried seems to behave correctly.
Do you have a sample class to reproduce the issue ?

[2018-05-22 21:15] scottslewis commented on #60
I've made a number of additions and have done some testing.  Things are not completed yet, and code/api documentation is needed along with test code, but I wanted to get working code in front of you or others...particularly for naming of modules and package, the overall structure of the classes etc.

The latest of everything is on the rsa branch.

There is currently only one functioning distributi

[2018-05-23 08:33] tcalmant commented on #97
Hi Scott,
That's great!

I'm just wondering if it is necessary to keep ``@Validate`` as a whole or if it could be transformed into an alias of ``@ValidateComponent(ARG_BUNDLE_CONTEXT)``.
We lose the fact that one method is called before the other, but it would seem more logical.
What do you think ?

Also, it might be interesting to have the behaviour with ``@InvalidateComponent``.

[2018-05-23 13:52] scottslewis commented on #97
Hi Thomas,

I've already gotten into ValidateComponent/Invalidate and that's a little clumsy, so I think InvalidateComponent would be a good idea.   I think the Validate/Invalidate aliasing would also make sense.

[2018-05-25 07:34] tcalmant commented on #97
Hi Scott,

The ``validate_component`` now works as described before:
* ``@Validate`` is now an alias of ``@ValidateComponent(ARG_BUNDLE_CONTEXT)``
* ``@InvalidateComponent`` mimics the behaviour for the invalidation callback.
  Exceptions raised by the decorated callback are ignored.
* ``@Invalidate`` is now an alias of ``@InvalidateComponent(ARG_BUNDLE_CONTEXT)``

I've added the tests for the inv

[2018-05-25 16:03] tcalmant commented on #97
The branch has been merged into master and deleted.
The issue can now be closed as it has been fully handled.

[2018-05-25 16:03] #97 closed

[2018-05-25 16:28] scottslewis commented on #97
Sounds great, thanks.

[2018-05-30 19:19] scottslewis commented on #60
Lots more progress to report.

Refactored the package structure and the location of classes.  It's now organized like this:

(in pelix.rsa package):

providers/
    discovery/
        _init: EndpointEvent,EndpointEventListener...API,EndpointAdvertiser,EndpointSubscriber...sclasses
        etcd: Etcd-based impl of discovery API
    distribution/
        _init: DistributionProvider API,support class

[2018-05-31 13:15] tcalmant commented on #60
That's great !
I'll try it this weekend

[2018-06-01 00:37] scottslewis commented on #60
Hi Thomas,

I've added quite a lot of documentation and a sample app.  Here's a way to give it a go:

1.  In samples directory, run top-level program:   run_rsa_xmlrpc.py.  Take a look at what bundles are there.
2.  To import sample hello server impl at console:
$ start samples.rsa.helloimpl
Note that the helloconsumer is already present (loaded by run), but it filters for remote services only '(s

[2018-06-03 15:50] #94 closed

[2018-06-07 22:02] scottslewis commented on #60
Hi Thomas.

I've been enhancing things further and have a small change to the instructions for running the export and import of a remote service given in previous comment.

here are the new instructions

In samples directory, run top-level program: run_rsa_xmlrpc.py. Take a look at what bundles are there.
To import sample hello server impl at console:
**$ start samples.rsa.helloimpl_xmlrpc**
Note

[2018-06-08 09:01] tcalmant commented on #60
Hi Scott,

That's great :)
I tried RSA last weekend and it was working as intended.
I'll be looking a bit further into it in order to see how to provide a an exporter based on JSON-RPC, to have a better view on how it works.

The Py4J provider could be tried with the [unofficial backport of ``futures``](https://pypi.org/project/futures/) on Python 2.7.
I'll try to do the tests this weekend, if I f

[2018-06-08 13:59] scottslewis commented on #60
Hi Thomas.

FWIW: I forked the Java Cohorte code some time ago...to keep up with enhancements in the RSA java impl:  https://github.com/scottslewis/cohorte-remote-services.    I can/could enhance them even further (the java distribution provider API has been enhanced recently to support OSGi Async Remote Services spec).   I would be happy to update this provider and contribute back any older chang

[2018-06-27 13:08] tcalmant opened #98 "Finalize tests with RSA"
The ``rsa-integration`` branch contains the implementation of Remote Service Admin, contributed by @scottslewis.
It is currently been tested with the XML-RPC provider and with local EDEF file.

The following test still have to be written:
* [x] Tests for the shell commands
* [x] Tests for the ``etcd`` discovery provider
* [x] Tests for the ``Py4J`` transport provider. This one will only work on Py

[2018-06-28 22:56] pisua opened #99 "@Requires decorator can be inherit"
As property decorator that can be inherit from an super class. it cloud be interesting to inherit @Requires decorator from a superclass to prevent to set it to the all child classes if they all have the same require instance to be injected unlike ipojo

[2018-06-29 07:58] tcalmant commented on #99
I have troubles replicating the issue, you can find my test bundle below.
It creates 3 components providing dummy services, a ``GrandParent`` class (not a factory) declaring a single ``@Requires``, inherited by a ``Parent`` component factory with its own requirement, itself inherited by the ``Child``component factory.

Even when commenting the ``@Requires`` (``toto``) of ``Parent``, the child stil

[2018-06-29 12:28] pisua commented on #99
I'll  see to provide you asap the code sample.

[2018-07-03 02:56] scottslewis commented on #98
Hi Thomas.   I'll work on the etcd tests.

[2018-07-03 20:24] scottslewis commented on #98
Hi Thomas.  How would I run the tests locally?  Are there some instructions for doing that?  Thanksinadvance.  Also:  Is there some way to run specific tests only?  (e.g. rsa tests, or subset)?  I just tried Pydev Python Unit test and it seems to work.   But of course I would like to do it how the build/you do it to verify.

[2018-07-03 22:00] tcalmant commented on #98
Hi Scott,

To run tests, you can use [nose](http://nose.readthedocs.io/en/latest/) (which I use) or [py.test](https://docs.pytest.org/en/latest/). You can install one (or both) of them with pip.

To run specific tests, just indicate the file containing them, e.g. ``nosetest tests/rsa/test_shell.py``.
I don't know about PyDev integration in the IDE, but it should be possible to run each test method

[2018-07-07 00:49] scottslewis commented on #98
Hi Thomas,

I've been able to run the tests fine with pydev's junit test runner.

I've created publisher tests for etcd discovery, and started etcd listener tests.   Do you have a way that you run/launch a separate python process (running another framework instance) for the multi-process tests?  To test the etcd listener, there has to be another process out there publishing services and I don't kn

[2018-07-07 09:49] tcalmant commented on #98
Hi Scott,
That's great!

You can find samples of multi-processes testing in ``tests/remote/test_discovery.py`` and ``test_transports_http.py``.
They are based on the [``multiprocessing`` module](https://docs.python.org/3/library/multiprocessing.html), and use a [``Queue``](https://docs.python.org/3/library/multiprocessing.html#pipes-and-queues) to communicate.

The idea is to declare a method to t

[2018-07-09 09:10] tcalmant commented on #98
Hi Scott,

The test of etcd works fine on Python 3 :)
I've updated the ``requirements.txt`` to have it working on Travis.
There is an error on Python 2.7, but don't worry, I'll look into it.

The next big thing would be the Py4J transport, as I'm not fluent with it...
Meanwhile, I'll try to work on the documentation.

[2018-07-09 19:19] scottslewis commented on #98
RE: Py4j.   The hardest thing about doing unit testing for the Py4j distribution provider will be the java/OSGi side.   I've been doing testing of it, of course...by running a java/OSGi sample app in my repo here:
https://github.com/ECF/Py4j-RemoteServicesProvider/examples and then running the python side (this ordering is ordained by Py4j itself, which treats the java side as the initial listener

[2018-07-10 09:16] tcalmant commented on #98
OK I see the problem.
In that case, it would be better to have a documentation on the iPOPO side; maybe we'll see how to run the tests with a set of bash scripts.

[2018-07-10 19:40] scottslewis commented on #98
Yeah...I think tests via bash scripts would be better for the moment.   What I propose is that we start from this page:  https://wiki.eclipse.org/OSGi_Services_between_Python_and_Java   ...which currently describes how to run/start Java side...and add to the samples documentation on the iPopo side...with links back and forth, of course.   That way it can be used as both a test and example+tutorial

[2018-07-16 20:24] scottslewis commented on #98
Hi Thomas.   I made some changes and simplifications to the Java-side code of the Py4j remote services provider.   The summary is that I simplified things so that all that's needed to get a remote service exported on the java side, and a consumer also available on the java-side, is to start an osgi framework with the hello example bundles:  https://wiki.eclipse.org/OSGi_Services_between_Python_and

[2018-07-16 21:48] tcalmant commented on #98
Hi Scott,
OK for skipping unit tests to speed up the 0.8.0 release.
So, the last step would be a small documentation on how to use RSA with iPOPO, or at least a link to the existing documentation of the wiki of the ECF project ?

I'm also waiting for @pisua to check if #99 is an iPOPO issue or not.

[2018-07-16 23:50] scottslewis commented on #98
Hi Thomas

Yeah, I was thinking of completing the tutorial here:

https://wiki.eclipse.org/Tutorial:_Python_for_OSGi_Services

with a link to a ipopo page(s) that describe how to run the samples.run_rsa_py4java.sh ipopo application (which sets up both a IHello consumer and optionally a python-based impl.   And I could put at the beginning of the ipopo documentation a link to the Tutorial above...s

[2018-07-17 16:42] scottslewis commented on #98
HI Thomas,

Do you have sample documentation for rsa? e.g. using xmlrpc distribution?   I don't see it obviously at:

https://github.com/tcalmant/ipopo/tree/master/docs

but perhaps I'm looking in the wrong place.

If so, please point me at it and I'll create the sample documentation for the starting/running of the py4j sample...in combination (links) with the wiki page I've got above.

[2018-07-17 16:53] tcalmant commented on #98
Hi Scott,
I don't have a page ready for rsa, but you can use docs/refcards/remote.rst
as a template.

I'll be able to work a bit on documentation on Thursday.

Le mar. 17 juil. 2018 à 18:42, Scott Lewis <notifications@github.com> a
écrit :

[2018-07-17 18:18] scottslewis commented on #98
Hi Thomas,

ok, I'll work on the python side of the py4j example using remote.rst as template.

[2018-07-25 00:41] scottslewis commented on #98
Hi Thomas.   I looked at rsa.rst you recently added.  A couple of comments:

1) I think it's over stating it to say that the RSA implementation is highly tied to ECF/Java.   That seems to imply that ECF is needed to use the Python RSA implementation...or even needs to be understood separately to use rsa in ipopo....which is not right at all.    Everything can run with python only w/o ECF or OSGi/J

[2018-07-25 12:31] tcalmant commented on #98
Hi Scott,

1. I agree; I was more thinking about the tight relation in terms of
concepts and architecture.
The way

2. The link to the tutorial (
https://wiki.eclipse.org/Tutorial:_Python_for_OSGi_Services ) was to be
given as an indication that you can work with ECF in Python without iPOPO
(directly with  osgiservicebridge).
This can be useful in some projects, where iPOPO wouldn't work on all pa

[2018-07-25 23:03] scottslewis commented on #98
Hi Thomas.

I've modified/simplified this page significantly:

https://wiki.eclipse.org/OSGi_R7_Remote_Services_between_Python_and_Java

It now also links to this new iPOPO tutorial page:

https://github.com/tcalmant/ipopo/blob/rsa-integration/docs/tutorials/rsa_pythonjava.rst

This page describes how to launch/run on Python sample side...and what happens wrt Java<->Python service interaction

Nex

[2018-07-29 21:17] scottslewis commented on #98
I've decided to work first on a concepts document about RSA in general...java and python.   I don't think it's well-articulated in the OSGi specs what the main roles are (e.g. RSA service, topology manger, discovery and distribution providers, etc) and how they fit together.  The spec...IMHO...is more intended for implementers (i.e. me/ECF), and what's needed is kind of an RSA user's guide...so I'

[2018-08-10 00:54] scottslewis commented on #98
Hi Thomas,

OK, sounds good.   I'll try to work on the xml-rpc provider tutorial
tomorrow (Friday) and this weekend.   Perhaps we can release 0.8.0 sometime
mid-next week.

Scott

On Wed, Aug 8, 2018 at 8:21 AM Thomas Calmant <notifications@github.com>
wrote:

[2018-08-12 20:16] cah-sachin commented on #98
Hey Guys,
We are using pelix framework in our project. We have need now for device to device communication like Edge or discovery server and discovery client.

I was thinking to use Remote services of pelix. Current development above looks like interesting to me.
Let me know if I am on correct path.

[2018-08-12 22:48] scottslewis commented on #98
Hi Cah-Sachin

I would say you are probably on the right path.   RSA adds a number of helpful things for remote services...e.g. a remote services mgmt agent, console commands, finer-grained control of export/import, an extensible topology manager.

The area where additional work is needed is in supporting other distribution and discovery providers.  With RSA there are distribution providers for xm

[2018-08-13 01:12] scottslewis commented on #98
Hi Thomas,

On the rsa-integration branch, I've created a first-cut of an iPOPO tutorial that uses the helloimpl sample and the xmlrpc distribution provider.   It's available here:

https://github.com/tcalmant/ipopo/blob/rsa-integration/docs/tutorials/rsa_xmrpc.rst

[2018-08-13 09:46] tcalmant commented on #98
@cah-sachin
Hi Cah-Sachin,
iPOPO has 2 implementations of remote services:
* ``pelix.remote``, the *historic* version: it intends to provides a quick & easy way to setup remote services in dynamic environments. Its main purpose is to let frameworks on small devices discover themselves in new environments without configuration (with the Multicast discovery) or to talk to each from remote places (us

[2018-08-13 12:17] cah-sachin commented on #98
Thanks @scottslewis  and @tcalmant . If you have any example of how to do device to device communication using any of  above that will be very good example for me.

[2018-08-13 14:35] scottslewis commented on #98
@cah-sachin On the rsa-integration branch...feel free to review/comment on https://github.com/tcalmant/ipopo/blob/rsa-integration/docs/tutorials/rsa_xmrpc.rst

It's in draft form as it was just created, but any comments would be much appreciated.   The sample code in source...also on rsa-integration.

[2018-08-13 23:43] scottslewis commented on #98
Hi Thomas,

I've made additions and edits to the xmlrpc tutorial, along with getting the name right:

https://github.com/tcalmant/ipopo/blob/rsa-integration/docs/tutorials/rsa_xmlrpc.rst

I think this is an ok first cut tutorial/sample using xmlrpc for Python<->Python remote services.  I'll add using etcd discovery to export/import remote services either tonight (Mon) or Tues.

[2018-08-16 14:06] tcalmant commented on #98
Hi Scott,
I think we're good for the release, let me know if you find some things to review.
The ``rsa-integration`` branch already has the 0.8.0 version set in all headers.

[2018-08-16 22:06] scottslewis commented on #98
I just made a small change to the java/python tutorial:   for consistency's sake I changed the tutorial title to:  RSA Remote Services between Python and Java.   I think 'RSA Remote Services' will be a more explainable way to distinguish in documentation from the existing 'Remote Services'.  And hopefully RSA Remote Services will be clear enough for consumers.   wdyt?

Other than that, I'm a +1 fo

[2018-08-17 12:12] tcalmant commented on #98
Good idea. Also, using the RSA terminology will be easier to relate to the ``pelix.rsa`` package.
I'll do a quick review of the code & doc this evening (CEST) and I'll do the release if everything is OK.

Sadly, the Travis-CI runs are constantly failing, sometimes due to a timeout in the Py4J test, sometimes even during the container initialization phase.

[2018-08-18 14:51] tcalmant opened #100 "Fix deadlock when stopping the core RSA service"
When invalidating the RSA core component with remaining imported services (and maybe the same for exported services); a deadlock occurs in ``ImportRegistrationImpl.close()``.

This explains why most ([but not all](http://geekandpoke.typepad.com/geekandpoke/2012/09/simply-explained-concurrency.html)) Travis-CI runs were failing due to timeouts.

This issue must be fixed before releasing iPOPO 0.8.0

[2018-08-18 15:57] tcalmant commented on #100
Found the origin of the issue: ``self._executor.shutdown()`` call in ``Py4jContainer`` (``pelix/rsa/providers/distribution/py4j.py``) doesn't return.

A quick fix is to add ``False`` as argument to ``shutdown()`` to stop waiting for remaining threads.
(added soon on the ``rsa-integration`` branch).

I'll try to find what thread call blocks to fix the problem at its root.

[2018-08-19 12:59] tcalmant commented on #100
The bug seems to be on [``osgiservicebridge``](https://github.com/ECF/Py4j-RemoteServicesProvider) side. A bug report will be posted there.
In the meantime, the issue is considered fixed on iPOPO side with the cdf267a commit.

[2018-08-19 12:59] #100 closed

[2018-08-19 13:01] tcalmant commented on #99
No news on this issues and I couldn't reproduce it.
Moving it to milestone 0.8.1 waiting for more details.

[2018-08-19 13:06] tcalmant commented on #98
I found why the Travis-CI builds were failing (see #100).
It seems to be an error in ``osgiservicebridge``: a thread handled by the ``ThreadPoolExecutor`` of the Py4J provider might not terminate as intended and makes the shutdown of the thread pool wait indefinitely.

The fix on iPOPO side is to not join the threads in the pool when shutting it down.
An issue will be opened on the ``osgiservicebr

[2018-08-19 13:06] #98 closed

[2018-08-19 13:09] #60 closed

[2018-08-19 13:21] #14 closed, assigned to tcalmant

[2018-08-19 13:25] tcalmant commented on #81
FYI, the RSA implementation has been added to iPOPO.
The documentation is available here: https://ipopo.readthedocs.io/en/latest/refcards/rsa.html

[2018-08-19 13:25] #81 closed

[2018-08-19 13:50] enferre commented on #81
Great! I'll have a look on it.
Thank you!

BR,
Enrico

Il dom 19 ago 2018, 15:25 Thomas Calmant <notifications@github.com> ha
scritto:

[2018-08-20 20:53] scottslewis commented on #81
Hi enferre

On Fri, Jul 28, 2017, 11:26 PM enferre <notifications@github.com> wrote:

The RSA impl supports multiple distribution (transport) and discovery
providers.

We intend to add eg cohorte but have not had chance to do so yet.

The good news is that the dist and discovery apis are there with examples
and api doc. so we expect to come quickly...especially with contributions
and/or help testi

[2018-08-22 02:05] scottslewis commented on #100
Hi Thomas,

Do you have any more info on what the problem is with the osgiservicebridge shutdown? Pllease open at:  https://github.com/ECF/Py4j-RemoteServicesProvider/issues

Congrats on 0.8.0.

[2018-08-22 07:17] tcalmant commented on #100
Hi Scott,

I'll work on the issue on Friday, I haven't been able to reproduce it on my
computer.

According to the code on the iPOPO side, it's a method given to the
ThreadPoolExecutor that blocks.
Therefore I suppose that the problem is related to async calls.

I'll create the issue when I'll start to work on it (I'll be abroad for 2
days)

Le mer. 22 août 2018 à 04:05, Scott Lewis <notifications

[2018-09-04 16:13] scottslewis commented on #100
Hi Thomas.

It seems that the karaf folks have just released 4.2.1, and so the 4.2.0 refs in the tutorial are out of date.  I've created this pull request to fix the tutorial doc:

https://github.com/tcalmant/ipopo/pull/102

Thanksinadvance.   Is there a way to refresh the readthedocs without doing a release?

[2018-11-17 17:14] #47 closed

[2019-03-07 10:36] LibertyWalk opened #103 "Retry validation if it fails"
I have a consumer, which commands its provider to connect to a server. This server might not be online at the point in the the iPOPO bundle is started. This, of course, invalidates the consumer and stops it from ever being executed without restarting the whole bundle.
First off, I'm not sure about the purpose of @Validate. Is this supposed to validate the consumer, if all its prerequisites (like t

[2019-03-07 11:01] fijemax commented on #103
I did someting like this for a websocket handler.
The websocket handler bundle must provide his service only when the websocket connexion is available.

To provide a service:

First save the contexte handler you received in the validate method
[code]

Create two methods to register and unregister you service:
[code]
You simply need to call ```_register_service``` or ```_unregister_service``` when

[2019-03-07 11:08] fijemax commented on #103
The documentation:
https://ipopo.readthedocs.io/en/0.8.1/refcards/services.html?highlight=register_service

[2019-03-07 11:15] fijemax commented on #103
[sample.zip](https://github.com/tcalmant/ipopo/files/2940927/sample.zip)

[2019-03-07 13:09] tcalmant commented on #103
Hi,

Like @fijemax said, your provider must be an instantiated component that registers the service your consumer requires.
Unlink most component models, where required components are spawned automatically by the framework; in iPOPO you have to instantiate both the consumer and the provider with their configuration. The provider will have to indicate if it provides the service or not (like in @fij

[2019-03-07 13:16] tcalmant commented on #103
Also, to reply to the original question:
- if all the requirements of a component are not present, the component won't be validated. The validation will occur once all requirements have been injected. The component then passes from INVALID to VALID state.
- if the validation method raises an exception, then the component passes to ERRONEOUS state and will stay there until you call the [``ipopo.ret

[2019-03-14 13:54] LibertyWalk opened #104 "AttributeError: 'Rest_API' object has no attribute '_RestDispatcher__routes'"
This error occurs when trying to access the url localhost:8886/api/v0.

Starting the HTTP-Server:

    for bundle in bundles_to_start:
        context.install_bundle(bundle).start()
        if bundle == 'pelix.services.eventadmin':
            with use_ipopo(context) as ipopo:
                ipopo.instantiate('pelix-services-eventadmin-factory', 'eventadmin', {})
        if bundle == 'rest_api_se

[2019-03-14 16:55] tcalmant commented on #104
Hi,
The issue here is that you redefined `__init__()` without calling its parent implementation, which defines some members. This can be fixed by calling either `super(Rest_API, self).__init__()` or `RestDispatcher.__init__(self)`

You should have something like this:
[code]

[2019-04-04 16:35] Angeloxx92 opened #105 "RSA Xml-RCP Client not working"
Hi, I tried to use your example of the implementation of a RSAXmlrpc with etcd between two instances on two IPOPO frameworks, running on two separated machines. But it gave me the following error in the client:
$ Component 'remote-hello-consumer': error calling @ValidateComponent callback
Traceback (most recent call last):
  File "/home/ferrera/.local/lib/python3.6/site-packages/pelix/ipopo/instan

[2019-04-05 00:58] scottslewis commented on #105
Hi.   I assume that you've taken a look at this tutorial:

https://ipopo.readthedocs.io/en/latest/tutorials/rsa_xmlrpc.html#rsa-tutorial-xmlrpc

It shows how to export/import a remote service using console commands (i.e. with no discovery) on a single host starting at the section:  Exporting the XmlRpcHelloImpl as a Remote Service.

Note that unfortunately our etcd server at disco.ecf-project.org

[2019-04-09 01:57] scottslewis commented on #105
Has you had a chance to try out configuring the HTTP_HOSTNAME as described in previous comment?

[2019-04-10 15:59] Angeloxx92 commented on #105
Yeah yeah, i've built one etcd of my own, and now it works perfectly. Thank you

[2019-04-10 15:59] #105 closed

[2019-04-11 01:51] scottslewis commented on #105
Good to hear it's working for you.   Thanks for the report.

[2019-04-26 14:45] Angeloxx92 opened #106 "Always active Publisher bundle question"
Hi, i'm developing an IoT application.I'm using the EventAdmin service. Inside the Publisher  i have a sensor that is sending information, so the Publisher is always active. The Handler has to take the data from the publisher and decide what to do, for example request a Remote instance using the RSA .  My problem is that the publisher is always active , so  when the handler tries to import the Rem

[2019-04-26 15:53] tcalmant commented on #106
By "the publisher is always active", do you mean that it doesn't return in the `start` call to the bundle activator (or the `@Validate` method of the iPOPO component) ?
If it is the case, you just have to make the active code run in a new thread (using `threading.Thread`).

[2019-04-26 15:59] Angeloxx92 commented on #106
Yes, this is the code :

from gateway import Usb300DB
from EnoceanDevices import EnoceanDevices
from enocean.protocol.packet import Packet
import traceback
import sys

# iPOPO
from pelix.ipopo.decorators import *
import pelix.ipopo.constants as constants

# EventAdmin constants
import pelix.services
@ComponentFactory('publisher-factory')
# Require the EventAdmin service
@Requires('_event', pelix.s

[2019-04-26 16:44] tcalmant commented on #106
In your code, the `@Validate` method won't return while the gateway is alive, which will block the whole framework.

Here is a version that should work:

[code]

With this snippet:
* The `validate` method starts the gateway polling loop in a new thread and returns immediately (unlocks the framework)
* The `invalidate` method will:
  1. Signal the thread stop at the next loop iteration (the time be

[2019-04-27 13:49] Angeloxx92 commented on #106
Thank you, it works perfectly

[2019-04-27 13:49] #106 closed

[2019-12-06 14:56] tcalmant opened #107 "Error in when normalizing path of some modules"
Seems like some DLL-based modules (`.pyd`) don't have a `__path__` set.
This causes a `TypeError` exception in `pelix.framework.normalize_path`.

The proposed solution is to just check if `__path__` is set before updating it.

(Issue encountered with Python 3.7)

[2019-12-06 15:08] #107 closed

[2020-01-02 17:54] #104 closed

[2020-01-03 13:32] acutaia opened #108 "Improvement"
Dear Thomas,
it's been 9 months that I'm working on your framework for a university project. I'm using the asyncio in order to develop asynchronous code. I think that substituting the contextmanager of iPopo with an async contextmanager could improve the efficiency of iPopo and, making iPopo asynchronous will also improve the scalability. What do you think about it? If you think it is a good idea

[2020-01-04 12:37] tcalmant commented on #108
Hi Angelo,
So the idea would be to have something like a `use_ipopo_async` inheriting the [`contextlib.asynccontextmanager`](https://docs.python.org/3/library/contextlib.html#contextlib.asynccontextmanager) from Python 3.7, am I right ?
(I'm not used to `asyncio` yet, I just used it a couple of times on snippets)

I was wondering for some time if I should do a *specific* version of iPOPO supportin

[2020-01-04 14:22] acutaia commented on #108
I think It's better using python >3.7 because the API of asyncio of python 3.7 are more performing than python 3.6 and also easier to use. The behavior described in the OSGi will not change, what I have on my mind is modifying the framework low level making it asynchronous with asyncio leaving unchanged the high level API, for example the EventAdmin will have the asynchronous method `post()`  and

[2020-01-04 16:05] tcalmant commented on #108
I think that would be a good idea!
Some parts of the event handling and module loading of Pelix/iPOPO good benefit from that approach as well.

[2020-01-04 22:02] acutaia commented on #108
Perfect. How can we organize to develop it? If you're interested I've studied asyncio using this book
<img src="https://user-images.githubusercontent.com/48996402/71772123-f5b8cf80-2f45-11ea-9708-caf18fc8ccc8.jpeg" alt="asyncio Recipes" width="250">

[2020-01-05 09:48] acutaia commented on #108
I think it could be changed every part of the code that has blocking IO with an asynchronous one, e.g. replacing the http request with `aiohttp.` I want to try to reduce the number of Threads of iPOPO  making the asyncio EventLoop (the one running in the main Thread) handle the whole framework, the IO task and short time running task. The long running and the blocking code will be scheduled by the

[2020-01-05 13:53] tcalmant commented on #108
So the plan, so far, would be:

1. Create a `v1` branch from the current state of `master` and release iPOPO `1.0.0` (I have to talk to some users before that)
1. Change the `README`, `setup.py` and all headers to bump the `master` branch to version `2.0.0`. The name of package might change to `ipopo2` to avoid dependency issues.
1. At this point, you can fork the project and start working on the

[2020-01-05 14:57] acutaia commented on #108
Perfect. I will gratefully take this task as a contributor. I will wait for further feedback from you in order to start working on this project. How often do you think we should synchronize ?
If anything I'm available for help.

[2020-01-05 17:09] tcalmant commented on #108
I'll try to do steps 1 and 2 of the [previous comment](https://github.com/tcalmant/ipopo/issues/108#issuecomment-570914608) tomorrow (Monday), and I'll add you as contributor.

For the synchronization, I was thinking about something like creating a single issue for the conversion, and adding a comment with the name of the modules and package we intend to work on the next days.

[2020-01-05 18:01] acutaia commented on #108
Perfect , I agree . Let's stay in touch

[2020-01-06 02:44] scottslewis commented on #108
A naive question:  What will be the expected user and developer benefits of using asyncio in ipopo?

[2020-01-06 08:41] acutaia commented on #108
The benefit will be a boost in scalability and performance because asyncio was written to avoid wasting CPU time on I/O bound tasks or waiting for Network connection. In fact, coroutines and event loops allow developers to execute code only when it's not waiting for I/O or Network connection and to yield control back for other tasks. In phew words the number of threads of iPOPO will be reduced to

[2020-01-06 09:44] tcalmant commented on #108
Hi Scott,
Like Angelo said, the main advantage of asyncio is to be more efficient handling I/O bound tasks, but also on some waiting APIs (locks, ...).

I would also point out that to gain an overall efficiency using asyncio, the whole framework must be ready to work in asynchronous mode (while keeping the critical sections synchronous, *e.g.* bundle activation, ...).

Finally, another advantage i

[2020-01-06 10:06] tcalmant commented on #108
I've added the `v1` (new default branch) and `v2` branches to the repository.
@Angeloxx92 is now a contributor of the project.

[2020-01-06 13:48] acutaia commented on #108
Perfect. Shall we use this issue #108 to synchronize or open a new one?However  I'll post Tuesday (tomorrow) the bundle's name on which I'll start to work because I want to organize a good action plan

[2020-01-06 16:09] tcalmant commented on #108
A new issue would be better I think.

Le lun. 6 janv. 2020 à 14:48, Angelo Cutaia <notifications@github.com> a
écrit :

[2020-01-07 17:48] acutaia opened #109 "iPOPOv2 development"
This issue will be used to synchronize with the process of developing iPOPOv2.
I've decided to start working with those bundles:

- `framework.py`

- `ipv6utils.py`

- `ldapfilter.py`

- `threadpool.py`

- `utilities.py`

after that I think we should move to the bundles of the `pelix shell`
What do you think? @tcalmant @scottslewis

[2020-01-07 17:50] acutaia commented on #108
I've just created the [new issue](https://github.com/tcalmant/ipopo/issues/109)

[2020-01-07 17:50] #108 closed, assigned to nobody

[2020-01-07 20:52] scottslewis commented on #109
Since I can't commit to follow this development closely, but would like to have a predictable outcome, can we establish clearly what's going to happen here wrt releases and content?   i.e. 1 or more releases, what versions (1 and 2?, 2 only?)...requiring which versions of python 2 and 3?),  when these are likely to happen, and (eventually) who is going to commit to doing what/when?

[2020-01-08 01:31] tcalmant commented on #109
Hi,

* OK to @Angeloxx92 to work on those bundles, with some notes:
  * If the method you change becomes a co-routine, please keep a synchronous version hiding the call to `run_until_complete`, in order to avoid changing the behavior of existing code. The current unit tests should be able to pass without changes (at least the ones for the framework itself)
  * For now, I recommend keeping the curr

[2020-01-08 11:37] acutaia commented on #109
Hi,

-  > When these are likely to happen?

Dear @scottslewis ,
like Thomas said the 2.0.0 release won't have an ETA cause convert already existing synchronous code to async it's not fast and easy to achieve cause this process will be bug-prone at the beginning and every design choice will have to be well thought. So i prefer spend more time and be sure that the result is good than do everything w

[2020-01-08 13:55] tcalmant commented on #109
Hi,

The shell I/O is handled by the `IOHandler` class, defined in `pelix.shell.beans`, which supports file-like objects. In fact, it just calls `readline`, `write` and `flush`.
For example, the XMPP shell defines the `_XmppOutStream` and `_XmppInStream` classes to provide these methods.
The `IOHandler` class can be updated to provide use `asyncio`, but using `aioconsole` can work to implement a s

[2020-01-09 02:46] scottslewis commented on #109
Not sure whether you knew this, but OSGi Remote Services spec v7:

https://osgi.org/specification/osgi.cmpn/7.0.0/service.remoteservices.html

Has a section on asynchronous remote services:

https://osgi.org/specification/osgi.cmpn/7.0.0/service.remoteservices.html#d0e1407

Quick summary:   A remote service exporter can export a remote service with 'osgi.async' standard service property, and then

[2020-01-09 21:32] acutaia commented on #109
Hi,

Yes, i  had a  a freudian slip sorry. However I've  done some commits to drop the support of python <3.7, but the building upon travis-ci with python 3.8 always fails when it tries to do the [discovery fails:](https://travis-ci.org/tcalmant/ipopo/builds/634899782?utm_medium=notification&utm_source=github_status)

To @scottslewis
I heard that the OSGi had an asynchronous remote service, the th

[2020-01-10 02:26] scottslewis commented on #109
@Angeloxx92
FWIW I agree with you...since what you are proposing doing with asyncio is essentially to improve performance.   There's no reason that I can think of that performance improvement wrt distributino provider usage of concurrent.futures.Future would be a problem...as long as Future semantics are maintained of course.

Sounds good.   It might be useful to create an asyncio-based xmlrpc dis

[2020-01-11 11:16] tcalmant commented on #109
@Angeloxx92 :

Yes, I saw that. I propose we remove the 3.8 tests for now, to focus on the port to 3.7.
We'll handle this issue a bit later as it might come either from the underlying libraries we use (which we should upgrade as necessary) or from Travis itself.

[2020-01-13 13:31] acutaia commented on #109
Hi,

to @tcalmant
I  agree with you. However , I'm almost done working on `framework.py` (i think 3 days of work) , the synchronous functions are wrapping the asynchronous one and from outside they'll work synchronously, while under the hood they'll still be asynchronously. If you have some question tell me
**Example**
[code]

to @scottslewis

You're right , but maybe we should also add `async met

[2020-01-17 00:20] scottslewis commented on #109
Hi @Angeloxx92 .   The xmlrpc provider simply turns around and makes http requests after serializing method args (and deserialization, etc on the server side).

The current xmlrpc provider (and lots of other things) would benefit from using asyncio to implement the ipopo http service...which is what xmlrpc uses to make the http request/response calls.

I don't think there would be any significant

[2020-01-30 10:41] acutaia commented on #109
Dear @tcalmant @scottslewis,
I've just finish to work on `framework.py` , now I'm in the debugging phase , when I'll finish it I'll do the commit and I'll  work on `pelix.internals` in order to fully convert `framework.py` .
I'll give you updates  during the next days.
Have a nice day

[2020-01-31 10:32] tcalmant commented on #109
Thanks for the news!

[2020-02-10 08:59] acutaia commented on #109
Dear @tcalmant ,
It's been days that I'm trying to make all the tests for the framework run without errors, but there is no way to make it wrapping asynchronous code with synchronous calling `loop.run_until_complete(coroutine())`
Example:
[code]
Cause, if I'm on another thread(just to make it simple, call it thread2) and the loop in the main_thread is not running because it has finished to execute

[2020-02-11 09:30] tcalmant commented on #109
Hi @Angeloxx92 ,

Losing the compatibility is a big issue, but I'm OK to prototype it, to see where we can go in a full-async version (both in terms of usage possibilities and performances).
We'll then see if we can prepare a compatibility layer above the full-async version.

[2020-02-12 06:48] acutaia commented on #109
Dear @tcalmant ,
I'll start to rewrite the tests of  the `framework` and I'll commit the first update of it as soon as possible.

Do you have any idea about it?What should do the compatibility layer? I'm asking this cause I'd like to have all clear in my mind.

[2020-03-09 10:44] tcalmant opened #110 "Autodoc not working on RtD ?"
Apparently, `autodoc` didn't work while generating the documentation of the last release:
=> https://ipopo.readthedocs.io/en/1.0.0/api.html

This removes a lot of information from the website.

[2020-03-09 10:49] tcalmant opened #111 "Add support for stdlib LogFormatter in LogService"
Currently, the log service doesn't support formatters: it is necessary to create a LogListener to print out logs with a custom format..

Solutions can include:
- add support for a formatter in the log shell commands (basic print out)
- mimic the standard library `LogEntry` members for a `Formatter` to handle entries from the Log Service
- add a basic log listener component which could mimic a `Han

[2020-03-09 13:40] tcalmant opened #112 "Manage components with ConfigurationAdmin"
Currently, the only ways to manage components easily in iPOPO itself are:
- let iPOPO create the component when the factory will be active (waiting list)
- use the initial configuration file (which uses a waiting list underneath)
- create the components when the factory is active (custom instantiation process)

This means we currently have no way to manage the composition after its instantiation.

[2020-03-10 13:26] tcalmant commented on #110
Fixed in caee7123b8f69e5bd9db575952082250bf383c72.
Issue was a missing addition of the project root in the Python path of `docs/conf.py`.

[2020-03-10 13:26] #110 closed, assigned to tcalmant

[2020-04-21 06:47] svidoso opened #113 "Cannot avoid creating configadmin 'conf' folder"
Hi,

I want to write a custom Configadmin persistence service (SERVICE_CONFIGADMIN_PERSISTENCE).
It seems that one cannot avoid creating the default service ('pelix-services-configuration-json-default') which will always create the 'conf' folder during validation. Is that right?

I also realized that the Configadmin will be created through @Instantiate decorator but the Eventadmin is not. This fee

[2020-04-21 09:25] tcalmant commented on #113
Hi,
Indeed, this is a behavior that could be changed, but not too much for compatibility reasons.

Currently, the JSON default configuration provider component creates the `./conf` folder when it is validated ([pelix.services.configadmin@1047](https://github.com/tcalmant/ipopo/blob/v1/pelix/services/configadmin.py#L1045-L1051)).
We could replace `os.getcwd()` by the use of a component property (an

[2020-04-22 14:56] tcalmant commented on #113
Hi,
With commit 38431df, you can now set the **framework** property `"pelix.configadmin.persistence.default.disable"` to any non-empty value to disable the automatic instantiation of the default persistence service.

It is defined as a constant for programmatic use: `pelix.services.FRAMEWORK_PROP_CONFIGADMIN_DISABLE_DEFAULT_PERSISTENCE`

When using the shell directly, this can be done with the `-D

[2020-04-23 07:40] svidoso commented on #113
Great, that will work. Thank you!

[2020-04-23 07:40] #113 closed, assigned to tcalmant

[2020-05-01 14:22] #103 closed

[2020-05-14 16:26] tcalmant commented on #112
Possible reference:
http://felix.apache.org/documentation/subprojects/apache-felix-ipojo/apache-felix-ipojo-userguide/ipojo-advanced-topics/combining-ipojo-and-configuration-admin.html

[2021-02-04 10:23] svidoso opened #114 "Deadlock using ConfigAdmin?"
Hi,

I have implemented a custom ConfigAdminPersistence which uses a database.
When i use this, the application gets stuck in updated:

    @ComponentFactory("any_factory")
    @Provides("any")
    @Property("_name", "name", "asd")
    @Instantiate("anyinstance")
    @Provides(pelix.services.SERVICE_CONFIGADMIN_MANAGED)
    @Property("_service_pid", "service.pid", "any_pid")
    class AnyService(o

[2021-02-04 16:37] tcalmant commented on #114
Hi,
I've been able to reproduce the bug.
Does it happen from scratch or just when (re)starting the app/component with an existing configuration ?

~~The issue doesn't seem directly connected to ConfigAdmin: it's more likely a reentry in a service event handler that causes the lock.~~
The issue only occurs if ConfigAdmin is started **after** the managed services, seems like an internal dead lock th

[2021-02-04 17:50] tcalmant commented on #114
So the issue is in [`ConfigurationAdmin._update`](https://github.com/tcalmant/ipopo/blob/v1/pelix/services/configadmin.py#L846-L848), when we wait for all notifications to have been sent.
If this occurs at the moment when ConfigurationAdmin is called by iPOPO in an event that starts it (validation, binding of a required service), then:
* iPOPO is locked until ConfigAdmin returns
* ConfigAdmin won'

[2021-02-04 18:40] tcalmant commented on #114
I've made an `issue_114` branch that avoids this deadlock by calling the initial update in the iPOPO thread.
Could you try with that version?

[2021-02-04 20:32] svidoso commented on #114
The branch `issue_114` solves the problem. Also starting ConfigAdmin before managed services does work.
Thanks a lot!

[2021-02-05 10:24] tcalmant commented on #114
OK thanks for the feedback.
The preferred way is to start config admin first (I'll add a note in the doc).
I'll make the behaviour of the `issue_114` branch configurable via a framework property to ensure retro-compatibility.

[2021-11-19 13:17] svidoso commented on #114
I just realized this issue does still exist (deadlock in updated() method). Somehow occuring very rarely when accessing config-admin in the component validate function and setting the self._name property. Yes I am using the isse_114 branch.

I think there is some race condition still existing.

BR

[2021-11-23 00:56] lpwwpl opened #115 "i got an error, help me,how to"
i download https://github.com/tcalmant/demo-ipopo-qt, and run,

i got an error:
    framework_uid = reference.get_property(pelix.remote.PROP_FRAMEWORK_UID)
AttributeError: module 'pelix.remote' has no attribute 'PROP_FRAMEWORK_UID'

how to clear the error

[2021-11-23 09:42] tcalmant commented on #114
OK, I'll take a look into it this week

[2021-11-23 10:47] tcalmant commented on #115
The property constant has been renamed `pelix.remote.PROP_ENDPOINT_FRAMEWORK_UUID` in order to match its OSGi counterpart.

[2021-11-23 10:47] #115 closed, assigned to nobody

[2022-02-19 17:08] tcalmant opened #117 "Replace Travis-CI by GitHub Actions"
* [x] Configure coveralls secret
* [x] Replace nose by pytest
* [x] Configure actions
* [x] Update README badges